* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/img/galaxy.jpg");
  background-size: cover;
}

#card {
  width: 100%;
  height: 100vh;
  padding: 40px 10px;
  text-align: center;
}

#header {
  font-size: 22px;
  color: #201c39;
  line-height: 5px;
}

#footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#days {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #6c92ae, #9e96d1);
  border: 1px solid #201c39;
  color: #201c39;
  font-size: 20px;
  padding: 10px;
}

#days img {
  max-width: 100%;
}

#dugme button {
  margin-top: 35px;
  background-color: rgba(28, 53, 177, 0.5);
  border: none;
  padding: 15px;
  border-radius: 25px;
  font-size: 20px;
}
#ocekivane p {
  margin-top: 25px;
  color: #201c39;
  font-size: 20px;
}
/********************OSTALI GRADOVI***************************/
#secondpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#secondpage input {
  padding: 20px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
}
#search {
  margin-top: 15px;
  border: none;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(28, 53, 177, 0.5);
  font-size: 18px;
}
#grad {
  display: none;
  margin-top: 15px;
  flex-direction: column;
  color: #201c39;
  border-radius: 25px;
  width: 250px;
  align-items: center;
  padding: 10px;
  background-color: rgba(28, 53, 177, 0.5);
  font-size: 20px;
}
#grad img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  #card {
    margin: 0 auto;
    width: 60%;
    border-radius: 20px;
    padding: 40px 35px;
  }
  #header {
    font-size: 24px;
  }
  #days {
    font-size: 20px;
    width: 150px;
  }
  #footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  #dugme button {
    padding: 20px;
    font-size: 20px;
  }

  #secondpage input {
    padding: 25px;
    font-size: 20px;
  }
  #search {
    padding: 20px;
    font-size: 20px;
  }
}
